<html>

<head>
    <title>
        Order History
    </title>

    <style>
        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h2>List of All Orders</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Total</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td>12345</td>
            <td>$30</td>
            <td>123 Main Street</td>
            <td>555-555-1212</td>
        </tr>
        <tr>
            <td>12346</td>
            <td>$45</td>
            <td>456 Maple Avenue</td>
            <td>555-555-1213</td>
        </tr>
    </table>
</body>

</html>