<html>

<head>
    <title>Order Page</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

</html>

<body>
    <h2>List of All Products Ordered</h2>
    <h3>Order Id : #122345</h3>
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Product A</td>
            <td>2</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Product B</td>
            <td>1</td>
            <td>$20</td>
        </tr>
        <tr>
            <td>Product C</td>
            <td>3</td>
            <td>$15</td>
        </tr>
    </table>
    <br>
    <div>
        <h3>Order Total : $95</h3>
        <h3>Address : 789 Oak Street </h3>
        <h3>Phone No : 555-555-1214</h3>
        <h3>Email Id : customer@example.com</h3>
    </div>
</body>

</html>