<html>

<head>
  <title>Product Page</title>
  <link rel = "stylesheet" href = "../css/products.css"/>
</head>

<body onload="loadProductInformation()">
 
  <!-- Display the product information -->
  <h2>Product Information</h2> 
  
  <a href="../views/products.html">
    <button>List of Products</button>
  </a>
  <br/><br/>
  <div class="product" id="product-data">
    <!-- Product Information will be loaded here -->
  </div>

  <script src="../js/productsData.js"></script>
  <script src="../js/product.js"></script>

  <!-- Display the product reviews -->
  <h2>Reviews</h2>
  <div class="review">
    <div class="user">User 1</div>
    <div class="rating">
      <!-- Use a series of stars to display the rating -->
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
    </div>
    <div class="comment">This is a great product!</div>
  </div>
  <div class="review">
    <div class="user">User 2</div>
    <div class="rating">
      <!-- Use a series of stars to display the rating -->
      <span>★</span>
      <span>★</span>
      <span>★</span>
      <span>★</span>
    </div>
    <div class="comment">I love this product!</div>
  </div>
  <!-- ... add more reviews here ... -->
</body>

</html>