<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="header"></div>
    <div class="main">
        <div class="container">
            <form action="">
                <h1>Register</h1>
                <p>Please fill in this form to to complete the registration -</p>
                <hr>
                <table>
                <tr>
                    <td><label for="username"><b>Username :</b></label></td>
                    <td><input type="text" name="username" id="username" placeholder="Enter Username" required></td>
                </tr>
                
                <tr>
                    <td><label for="name"><b>Full Name :</b></label></td>
                    <td><input type="text" name="name" id="name" placeholder="Enter Full Name" required></td>
                </tr>
                <tr>
                    <td><label for="email"><b>Email :</b></label></td>
                    <td><input type="email" placeholder="Enter Email" name="email" id="email" required></td>
                </tr>
                <tr>
                    <td><label for="addr"><b>Address :</b></label></td>
                    <td><textarea placeholder="Enter Address" name="addr" id="addr" cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td><label for="contact"><b>Phone No. :</b></label></td>
                    <td><input type="number" placeholder="Enter Phone No." name="contact" id="contact" required></td>
                </tr>
                <tr>
                    <td><label for="pwd"><b>Password :</b></label></td>
                    <td><input type="password" placeholder="Enter Password" name="pwd" id="pwd" required></td>
                </tr>
                <tr>
                    <td><label for="pwd-repeat"><b>Repeat Password :</b></label></td>
                    <td><input type="password" placeholder="Repeat Password" name="pwd-repeat" id="pwd-repeat" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td>By creating an account you agree to our <a href="#">Terms & Privacy</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="register">Register</button></td>
                </tr>
                </table>
                <hr>
                <div class="container">
                    <p>Already have an account? <a href="signin.html">Sign in</a>.</p>
                </div>
            </form>    
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>